<div class="results" ng-if="countries">

    <div ng-repeat="country in countries">
    	<h3>{{ country.countryName }}</h3>
    	<p>Population of Country: {{ country.population | number }}</p>
    	<p>Area: {{ country.areaInSqKm | number }} km</p>
    	<p>Capital: {{ country.capital }}</p>
    	<p>Population of Capital: </p>
    	<p>3 Neighbors: </p>

    	<img src="http://www.geonames.org/flags/x/{{ country.countrycode }}.gif" />
    	<img src="http://www.geonames.org/img/country/250/{{ country.countrycode }}.png" />

    </div>


</div>

<a href="#/home">Home</a><a href="#/countrylist">Browse Countries</a>