body {
	font-family: "adelle-sans";
}


th, td {
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

h1 {
    text-align: center;
}

.results {
	text-align: center;
}

.map {
	float: left;
	margin-left: 20%;
	margin-top: 5%;
}

.flag {
	margin-top: 5%;
	float: left;
}

.mapimg {
	max-width:40%;
}

.flagimg {

	max-width:35%;

}

.bottom-nav {
	text-align: center;
	margin-top: 30%;
}
